In [1]:
from google.colab import drive
import pandas as pd
import numpy as np
from numpy.random import choice
from datetime import datetime, date
drive.mount('/content/drive')
base = '/content/drive/My Drive/dati cs/'
file_names = ['GEconV4.csv', 'country_stats.csv', 'lenders.csv', 'loan_coords.csv', 
              'loans.csv', 'loans_lenders.csv', 'locations.csv']

def load():
    def read(name, sep):
      return pd.read_csv(base+name, sep=sep, nrows=None)
    data = {}
    for name in file_names:
        print('Loading {}...'.format(name))
        if name != 'GEconV4.csv':
            data[name] = read(name, ',')
        else:
            data[name] = read(name, ';')
    print('Concluso')
    return data
    
data = load()

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive
Loading GEconV4.csv...
Loading country_stats.csv...
Loading lenders.csv...
Loading loan_coords.csv...
Loading loans.csv...
Loading loans_lenders.csv...
Loading locations.csv...
Concluso

In [2]:
def normalize_loan_lenders(ds):
    def clean_name(x):
        if x[0] == ' ':
            return x[1:]
        else:
            return x
        
    use_db = ds['loans_lenders.csv']
    out = []
    for i in use_db.iterrows():
        lenders = i[1]['lenders']
        id_ = i[1]['loan_id']
        for each in lenders.split(','):
            up = [id_] + [clean_name(each)]
            out.append(up)
    return pd.DataFrame(out, columns=['ID', 'NOME'])

# 1   Normalize the loan_lenders table. In the normalized table, each row must have one loan_id and one lender.
out_1 = normalize_loan_lenders(data)
normalized_loan_lenders = out_1
display(out_1)

               ID               NOME
0          483693             muc888
1          483693            sam4326
2          483693        camaran3922
3          483693        lachheb1865
4          483693        rebecca3499
...           ...                ...
28293926  1206425  trogdorfamily7622
28293927  1206425          danny6470
28293928  1206425            don6118
28293929  1206486           alan5175
28293930  1206486        amy38101311

[28293931 rows x 2 columns]

In [3]:
def make_loan_duration(ds): 
    def make_date(x):
        try:
            x = x.split('.')
            return datetime.strptime(x[0], "%Y-%m-%d %H:%M:%S")
        except:
            return x
        
    use_ks = ['loan_id', 'disburse_time', 'planned_expiration_time']
    use_db = ds['loans.csv'][use_ks]
    
    use_db['disburse_time'] = use_db['disburse_time'].apply(make_date)
    use_db['planned_expiration_time'] = use_db['planned_expiration_time'].apply(make_date)
    diff = use_db['planned_expiration_time'] - use_db['disburse_time']
    ds['loans.csv']['duration'] = diff.dt.total_seconds()/(60*60*24)
    return ds['loans.csv']

# 2    For each loan, add a column duration corresponding to the number of days between the disburse time and the planned expiration time. If any of those two dates is missing, also the duration must be missing.
out_2 = make_loan_duration(data)
# quando 'disburse_time' è nan, anche la differenza è nan: print(out_2[out_2['planned_expiration_time'].isna()]['duration'])
# alcune volte il valore è negativo
display(out_2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

         loan_id           loan_name  ... distribution_model   duration
0         657307                Aivy  ...      field_partner  53.812569
1         657259      Idalia Marizza  ...      field_partner  96.600775
2         658010               Aasia  ...      field_partner  37.548669
3         659347             Gulmira  ...      field_partner  34.798634
4         656933             Ricky\t  ...      field_partner  57.923634
...          ...                 ...  ...                ...        ...
1419602   988180                 NaN  ...      field_partner  39.708368
1419603   988213             Perlita  ...      field_partner  39.361192
1419604   989109  Okyeso Nyame Group  ...      field_partner  51.597269
1419605   989143            Exequila  ...      field_partner  63.034745
1419606   989240               Lydia  ...      field_partner  61.534792

[1419607 rows x 32 columns]

In [9]:
def lender_atleast_twice(ds):
    use = normalized_loan_lenders
    group = use.groupby('NOME').size().reset_index()
    group.columns = ['NOME','CONTA']
    return group[group['CONTA'] > 1]
    
# 3   Find the lenders that have funded at least twice.
out_3 = lender_atleast_twice(data)
display(out_3)

                   NOME  CONTA
0                   000     40
1                 00000     39
2                  0002     70
4        0101craign0101     71
5               0132575      4
...                 ...    ...
1383792         zzinnia     28
1383793      zzivnk7094      4
1383794        zzmcfate   1730
1383796      zzrvmf8538     15
1383797          zzzsai      4

[901811 rows x 2 columns]

In [12]:
def n_country_as_borr(ds):
    use_db = ds['loans.csv']
    group = use_db.groupby('country_name').count()['duration']
    return group
    
# 4    For each country, compute how many loans have involved that country as borrowers.
out_4 = n_country_as_borr(data)
display(out_4)

country_name
Afghanistan           2
Albania            3075
Armenia           12809
Azerbaijan         4026
Belize              218
                  ...
Vietnam           16371
Virgin Islands        0
Yemen              4184
Zambia             1277
Zimbabwe           5075
Name: duration, Length: 96, dtype: int64

In [13]:
def funded_country_as_borrow(ds):
    use_db = ds['loans.csv']
    group = use_db.groupby('country_name').sum()['funded_amount']
    return group

# 5    For each country, compute the overall amount of money borrowed.
out_5 = funded_country_as_borrow(data)
display(out_5)

country_name
Afghanistan        1964650.0
Albania            3992475.0
Armenia           20284675.0
Azerbaijan        14191350.0
Belize              150175.0
                     ...
Vietnam           23463825.0
Virgin Islands           0.0
Yemen              3340025.0
Zambia             1913250.0
Zimbabwe           5818550.0
Name: funded_amount, Length: 96, dtype: float64

In [14]:
# 6    Like the previous point, but expressed as a percentage of the overall amount lent.
out_6 = 100 * out_5 / sum(out_5)
display(out_6)

country_name
Afghanistan       0.173834
Albania           0.353258
Armenia           1.794810
Azerbaijan        1.255666
Belize            0.013288
                    ...
Vietnam           2.076104
Virgin Islands    0.000000
Yemen             0.295529
Zambia            0.169286
Zimbabwe          0.514832
Name: funded_amount, Length: 96, dtype: float64

In [15]:
def funded_by_year_by_country(ds):
    use_db = ds['loans.csv']
    use_db['year'] = pd.to_datetime(use_db['disburse_time']).dt.year
    group = use_db.groupby(['country_name', 'year']).sum()['funded_amount']
    return group
    
# 7   Like the three previous points, but split for each year (with respect to disburse time).
out_7 = funded_by_year_by_country(data)
display(out_7)

country_name  year
Afghanistan   2007.0     194975.0
              2008.0     365375.0
              2009.0     581825.0
              2010.0     563350.0
              2011.0     245125.0
                          ...
Zimbabwe      2013.0     678525.0
              2014.0    1307975.0
              2015.0     723150.0
              2016.0     787550.0
              2017.0    1214125.0
Name: funded_amount, Length: 748, dtype: float64

In [16]:
def lended_amount_by_lender(ds):
    lends = normalized_loan_lenders
    id_am = ds['loans.csv'][['loan_id', 'funded_amount']]
    inter = pd.merge(lends, id_am, left_on='ID', right_on='loan_id')
    return inter.groupby('NOME').sum()['funded_amount']
    
# 8   For each lender, compute the overall amount of money lent.
out_8 = lended_amount_by_lender(data)
display(out_8)

NOME
000                104125.0
00000               52200.0
0002                33800.0
00mike00             2000.0
0101craign0101     147050.0
                    ...
zzmcfate          4203225.0
zzpaghetti9994       5000.0
zzrvmf8538          28025.0
zzzsai              21200.0
zzzworld             3000.0
Name: funded_amount, Length: 1383799, dtype: float64

In [17]:
class Exercise_9_routine:
    def __init__(self, db):
        self.use_db         = db['lenders.csv']
        self.loans_db       = db['loans.csv']
        self.loans2lenders  = normalized_loan_lenders
        
    def _2pct(self, x):
        non_na = x[x['country_code'].isnull() == False]
        group  = non_na.groupby('country_code').count()['permanent_name']
        pcts_  = group / group.sum()
        return pcts_
    
    def draw_random_weighted(self, x):
        if pd.isnull(x):
            return choice(list(self.pcts.index), 1, p=self.pcts.tolist())[0]
        else:
            return x
 
    def assume_distribution(self):
        self.pcts = self._2pct(self.use_db)
        sub = self.use_db['country_code'].apply(self.draw_random_weighted)
        self.use_db['country_code'] = sub
        return self.use_db

    def lended_money_by_cc(self):       
        # a
        first_merge = pd.merge(self.loans2lenders, self.use_db, left_on='NOME', right_on='permanent_name')[['ID', 'NOME', 'country_code']]
        # b
        secon_merge = pd.merge(first_merge, self.loans_db[['loan_id', 'funded_amount']], left_on='ID', right_on='loan_id')[['ID', 'NOME', 'country_code', 'funded_amount']]
        # c
        group = secon_merge.groupby('ID').mean()['funded_amount'] / secon_merge.groupby('ID').count()['funded_amount']
        group['ID'] = group.index
        # d
        third_merge = pd.merge(secon_merge, group, left_on='ID', right_on='ID')
        # e 
        group = third_merge.groupby('country_code').sum()
        return group

    
    def run(self):
        '''
        1) calcolo distribuzione di "country_code" e sostituisco nan in "lenders.csv"
        2) per trovare lenders x stati:
            a) incrocio "loans_lenders" con "lenders" e trovo prestatori associati a stati
            b) incrocio (a) con "loans" per trovare quantità prestate a singolo prestito
            c) faccio (b).groupby("ID").mean() / (b).groupby("ID").count()
            d) incrocio (b) con (c) con chiave "ID", assumendo che ogni stato presente 
                nel prestito abbia contribuito equamente
            e) faccio (d).groupby("country_code").sum()
        3) per trovare borrowers x stati faccio "loans".groupby("country_code").sum()
        4) faccio la differenza sulla chiave "country_code" (come indice) tra "lenders" e "borrowers"
        '''
        # 1
        self.use_db = self.assume_distribution()
        # 2
        lended_money_by_cc = self.lended_money_by_cc()
        # 3
        borrowed_money_by_cc = self.loans_db.groupby('country_code').sum()['funded_amount']

        group = pd.merge(lended_money_by_cc, borrowed_money_by_cc, right_index=True, left_index=True)
        lend, borr = group.columns
        return group[lend] - group[borr]

# 9   For each country, compute the difference between the overall amount of money lent and the overall amount of money borrowed. Since the country of the lender is often unknown, you can assume that the true distribution among the countries is the same as the one computed from the rows where the country is known.
out_9 = Exercise_9_routine(data).run()
display(out_9)

country_code
AF     5634175.0
AL    -1981300.0
AM   -18588625.0
AZ   -13604675.0
BA     2995000.0
         ...
XK    -2399300.0
YE     -791300.0
ZA    35701040.0
ZM      114990.0
ZW    -5153125.0
Length: 94, dtype: float64

In [18]:
def net_lent2pop():
    pops = data['country_stats.csv'].groupby('country_code').sum()['population']
    ratios = out_9 / pops
    ratios = ratios[ratios.notna()]
    high_ratio = {'country':ratios.index[ratios.values.argmax()], 'ratio':ratios.max()}
    return high_ratio

# 10  Which country has the highest ratio between the difference computed at the previous point and the population?
out_10 = net_lent2pop()
display(out_10)

{'country': 'CA', 'ratio': 127.86557939465106}

In [19]:
def net_lent2wealth_pop():
    group = data['country_stats.csv'].groupby('country_code')
    pop = group.sum()['population']
    wealthy_pct = 100 - group.sum()['population_below_poverty_line']
    wealthy_pop = pop * wealthy_pct / 100
    ratios = out_9 / wealthy_pop
    ratios = ratios[ratios.notna()]
    high_ratio = {'country':ratios.index[ratios.values.argmax()], 'ratio':ratios.max()}
    return high_ratio

# 11  Which country has the highest ratio between the difference computed at point 9 and the population that is not below the poverty line?
out_11 = net_lent2wealth_pop()
display(out_11)

{'country': 'CA', 'ratio': 141.13198608681134}

In [37]:
class Exercise_12_routine:
    def __init__(self):
        use_ks = ['loan_id', 'country_code', 'disburse_time', 'planned_expiration_time', 'funded_amount']
        self.use_db = data['loans.csv'][use_ks]
        self.use_db['disburse_time'] = pd.to_datetime(self.use_db['disburse_time'])
        self.use_db['planned_expiration_time'] = pd.to_datetime(self.use_db['planned_expiration_time'])

        range_start = min(self.use_db['disburse_time'].min().year, 
                          self.use_db['planned_expiration_time'].min().year)
        range_end   = max(self.use_db['disburse_time'].max().year, 
                          self.use_db['planned_expiration_time'].max().year)

        self.sum_dict = {y:0 for y in range(range_start, range_end + 1)}
        self.sum_dict['date_errors'] = []

    def split_payments(self, start_date, end_date, funding, loan_id):

        def final_date_by_year(year):
            return datetime(year, 12, 31, 23, 59, 59)

        def total_days(start, end):
            return (end - start).total_seconds() / seconds_in_a_day

        def get_years_range(start, end):
            out = [start, final_date_by_year(start.year)]
            while True:
                if out[-1] < end:
                    out.append(final_date_by_year(out[-1].year + 1))
                else:
                    break
            out = out[:-1]
            out.append(end)
            return out

        def date_diff_in_years(start, end):
            return (end - start).total_seconds() / seconds_in_a_day / total_days(start_date, end_date)

        def pro_rate(start, end, fund):
            for single in ranges[1:]:
                date_diff = date_diff_in_years(start, single)

                if date_diff > 0:
                    if len(ranges) > 2:
                        self.sum_dict[single.year] += date_diff * fund
                    else:
                        self.sum_dict[single.year] += fund

                else:
                    self.sum_dict['date_errors'].append(loan_id)
                    break
                start = single

        days_in_a_year = 365
        seconds_in_a_day = 60*60*24

        start_date = start_date.replace(tzinfo=None).to_pydatetime()
        end_date   = end_date.replace(tzinfo=None).to_pydatetime()

        try:
            ranges = get_years_range(start_date, end_date)
            pro_rate(start_date, end_date, funding)
        except:
            self.sum_dict['date_errors'].append(loan_id)

    def run(self):
        for row in self.use_db.iterrows():
            dat = row[1]
            self.split_payments(dat['disburse_time'], dat['planned_expiration_time'], dat['funded_amount'], dat['loan_id'])
        return self.sum_dict

# 12  For each year, compute the total amount of loans. 
#     Each loan that has planned expiration time and disburse time in different years must have its amount distributed proportionally to the number 
#     of days in each year. 
#     For example, a loan with disburse time December 1st, 2016, planned expiration time January 30th 2018, and amount 5000USD has an amount 
#     of 5000USD * 31 / (31+365+30) = 363.85 for 2016, 
#     5000USD * 365 / (31+365+30) = 4284.04 for 2017, and 5000USD * 30 / (31+365+30) = 352.11 for 2018.
out_12 = Exercise_12_routine().run()
display(out_12)

#test verifica correttezza:
#db=data['loans.csv']
#print('a', db['funded_amount'].sum() - db[db['planned_expiration_time'].isnull()]['funded_amount'].sum())
#print('b', sum([out_12[x] for x in out_12 if type(x) == int]))

# 'a' e 'b' devono combaciare

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

{2005: 0,
 2006: 0,
 2007: 0,
 2008: 0,
 2009: 0,
 2010: 0,
 2011: 645001.2263989488,
 2012: 108908129.13788325,
 2013: 121735433.40108259,
 2014: 148071154.51525062,
 2015: 152366832.6849567,
 2016: 150098496.32797647,
 2017: 162660772.81807458,
 2018: 3740204.8883760143,
 'date_errors': [251406,
  252537,
  253044,
  254012,
  251336,
  254221,
  251409,
  253861,
  254067,
  254145,
  254290,
  254413,
  252465,
  252846,
  253073,
  253423,
  253469,
  254260,
  252002,
  251657,
  252624,
  252749,
  253708,
  251710,
  253767,
  253826,
  251307,
  252110,
  252489,
  252683,
  253062,
  253739,
  251361,
  251797,
  252927,
  253163,
  252142,
  252213,
  252270,
  254106,
  252364,
  252976,
  253793,
  252021,
  252088,
  252186,
  253524,
  252991,
  253137,
  253184,
  252837,
  251986,
  252449,
  252939,
  253328,
  253536,
  253313,
  251505,
  252378,
  252989,
  252993,
  253434,
  251567,
  251878,
  254014,
  253251,
  254040,
  251496,
  251868,
  252344,
  252814,
  253316,
  254084,
  251909,
  252544,
  255073,
  255570,
  256454,
  256460,
  256671,
  257058,
  257652,
  257740,
  258125,
  258424,
  258948,
  259155,
  259347,
  259506,
  259583,
  259975,
  262251,
  254472,
  254631,
  255281,
  255307,
  256097,
  256101,
  256302,
  256449,
  256521,
  256590,
  257049,
  257644,
  258028,
  258414,
  258702,
  258960,
  259059,
  259348,
  259624,
  259954,
  260781,
  261970,
  262208,
  254807,
  255788,
  255879,
  255963,
  256041,
  256407,
  256906,
  257789,
  258044,
  258240,
  258700,
  259054,
  259412,
  260358,
  260417,
  260875,
  260975,
  261209,
  261660,
  261883,
  262000,
  262333,
  262452,
  254719,
  254821,
  255007,
  256400,
  256591,
  256921,
  256944,
  257495,
  257830,
  258515,
  258940,
  260378,
  260801,
  261706,
  261861,
  262275,
  262362,
  262735,
  262070,
  254900,
  256708,
  258135,
  259194,
  259824,
  259939,
  261732,
  262172,
  262465,
  254503,
  255193,
  255532,
  255965,
  256234,
  256272,
  257335,
  258274,
  258785,
  259370,
  260573,
  260668,
  261079,
  261311,
  261711,
  261830,
  262043,
  254593,
  254749,
  255369,
  255463,
  255810,
  257192,
  257934,
  258419,
  259424,
  260505,
  260556,
  260593,
  262695,
  262815,
  262835,
  262612,
  255410,
  256170,
  256700,
  257677,
  258478,
  259220,
  260252,
  260498,
  262394,
  261908,
  251933,
  251948,
  252295,
  253117,
  254919,
  254954,
  255905,
  256316,
  256780,
  251770,
  252085,
  252854,
  253182,
  253801,
  254208,
  255137,
  255663,
  257237,
  253875,
  252782,
  254784,
  255090,
  255672,
  256020,
  256119,
  256211,
  256280,
  256796,
  257126,
  257372,
  257730,
  251402,
  252716,
  254244,
  255319,
  256141,
  256158,
  256820,
  256964,
  251305,
  252220,
  253390,
  253516,
  253579,
  253898,
  254461,
  255025,
  256709,
  257400,
  257564,
  252231,
  252284,
  253260,
  255619,
  255639,
  256028,
  256087,
  256365,
  257244,
  257552,
  251695,
  252061,
  252739,
  252946,
  253267,
  253348,
  253380,
  254174,
  254610,
  254852,
  254866,
  255225,
  256850,
  257596,
  251367,
  251585,
  252023,
  252852,
  251749,
  253558,
  254648,
  254770,
  254830,
  255103,
  256635,
  256795,
  257164,
  257166,
  257918,
  258350,
  258835,
  259203,
  259543,
  259564,
  260315,
  260511,
  260650,
  260776,
  261235,
  261649,
  262409,
  258982,
  259338,
  259744,
  260332,
  261868,
  262040,
  258442,
  258964,
  259597,
  260141,
  260211,
  261152,
  261211,
  261292,
  261361,
  261761,
  262153,
  262717,
  258367,
  258378,
  258786,
  259526,
  260291,
  260518,
  261160,
  262400,
  262557,
  257990,
  258136,
  258313,
  259257,
  260592,
  261234,
  261270,
  261611,
  261851,
  259479,
  260193,
  260224,
  261127,
  261843,
  261845,
  262501,
  262589,
  262369,
  259859,
  262187,
  262697,
  257779,
  257954,
  258032,
  258237,
  258932,
  258942,
  259799,
  260549,
  261162,
  261594,
  262034,
  262262,
  260632,
  262005,
  91201,
  91443,
  91722,
  92066,
  88408,
  89188,
  89586,
  89938,
  90292,
  90983,
  91483,
  87519,
  88765,
  89228,
  89294,
  89447,
  89518,
  90024,
  90145,
  90180,
  91729,
  91928,
  87471,
  88518,
  89232,
  90201,
  91294,
  91335,
  91611,
  91638,
  87425,
  87751,
  87975,
  88536,
  89591,
  90262,
  91032,
  91405,
  91548,
  92233,
  92401,
  87787,
  88670,
  90358,
  90426,
  91507,
  92367,
  87685,
  87795,
  89935,
  90408,
  91480,
  92092,
  92210,
  87501,
  87533,
  87696,
  87839,
  88295,
  88342,
  88749,
  88886,
  88898,
  89329,
  89632,
  89768,
  90155,
  91219,
  91306,
  92407,
  309715,
  309992,
  310929,
  93963,
  94190,
  94433,
  94505,
  95246,
  95500,
  95872,
  96372,
  96662,
  97446,
  98266,
  99176,
  99506,
  99713,
  311196,
  311938,
  313492,
  313874,
  314119,
  309418,
  310100,
  93006,
  93798,
  94212,
  94419,
  94576,
  95016,
  95220,
  95555,
  95642,
  96154,
  96476,
  96963,
  97087,
  98539,
  98590,
  99066,
  99182,
  99489,
  100373,
  100709,
  100735,
  101023,
  312127,
  312787,
  314345,
  309033,
  309643,
  310210,
  310348,
  93030,
  94479,
  95348,
  96539,
  96872,
  96930,
  97786,
  97891,
  97989,
  98043,
  98713,
  98772,
  98793,
  99089,
  99427,
  99665,
  99765,
  100269,
  100839,
  312099,
  313666,
  309007,
  309423,
  309653,
  310322,
  310336,
  310483,
  310890,
  311127,
  93432,
  93785,
  94851,
  95363,
  95452,
  96562,
  97234,
  97314,
  97620,
  97928,
  98192,
  98663,
  99040,
  100273,
  312200,
  312242,
  312258,
  312449,
  312591,
  312653,
  313237,
  313592,
  313834,
  313853,
  313895,
  313951,
  309765,
  92578,
  92674,
  92711,
  92812,
  92878,
  92902,
  93191,
  93634,
  93676,
  93967,
  94268,
  95161,
  95353,
  95356,
  95458,
  96182,
  96320,
  98636,
  98723,
  99287,
  99753,
  100466,
  311307,
  311665,
  311676,
  311969,
  311999,
  312625,
  312997,
  313473,
  313807,
  308978,
  309265,
  309335,
  309537,
  310840,
  93278,
  93468,
  94253,
  94264,
  95169,
  95297,
  95485,
  95901,
  96918,
  99283,
  99864,
  100092,
  101200,
  311336,
  312089,
  312561,
  310347,
  311086,
  92559,
  94162,
  95020,
  95077,
  95653,
  95821,
  96150,
  96330,
  96569,
  97831,
  98076,
  98687,
  98759,
  99166,
  99331,
  99433,
  99603,
  101253,
  101257,
  311822,
  312797,
  309118,
  309126,
  309270,
  309323,
  309458,
  309727,
  92863,
  92876,
  93352,
  94110,
  94187,
  94932,
  95015,
  95464,
  95548,
  97408,
  97886,
  97906,
  98840,
  99302,
  99957,
  100201,
  100947,
  101214,
  101256,
  311363,
  311680,
  312761,
  87461,
  87762,
  87792,
  88274,
  88634,
  89374,
  90221,
  90278,
  90510,
  90715,
  91256,
  309926,
  310002,
  310512,
  311411,
  311800,
  311933,
  91955,
  92076,
  92185,
  87446,
  88213,
  88814,
  90229,
  90673,
  90786,
  91056,
  309092,
  309848,
  310214,
  311730,
  91860,
  91969,
  92132,
  93160,
  93594,
  87703,
  88366,
  88557,
  89641,
  90555,
  308926,
  309208,
  309585,
  309702,
  307744,
  310393,
  310583,
  93234,
  87843,
  88641,
  90422,
  90598,
  90887,
  91188,
  91505,
  91560,
  309434,
  310105,
  310404,
  311056,
  311134,
  312033,
  312106,
  92388,
  92888,
  93406,
  93609,
  87637,
  87701,
  87930,
  88823,
  89850,
  90207,
  13558,
  90558,
  90941,
  91278,
  308952,
  311036,
  311496,
  311591,
  311725,
  312024,
  93172,
  93224,
  93395,
  87585,
  88554,
  88972,
  89181,
  89255,
  89287,
  89950,
  90193,
  90525,
  90624,
  90723,
  90780,
  309656,
  311055,
  311191,
  311505,
  311530,
  311974,
  91968,
  92028,
  87422,
  88097,
  88172,
  88597,
  89916,
  91438,
  308995,
  309361,
  309608,
  310077,
  310320,
  310498,
  311433,
  91865,
  93401,
  87907,
  89254,
  89755,
  89826,
  90171,
  90649,
  309503,
  309635,
  310056,
  310510,
  310811,
  311482,
  311919,
  92347,
  92361,
  93042,
  93231,
  93592,
  95320,
  95375,
  97176,
  98364,
  98994,
  99398,
  100114,
  100268,
  312201,
  313294,
  313919,
  314351,
  314719,
  314826,
  315455,
  316021,
  316030,
  316219,
  317245,
  317397,
  317810,
  320013,
  100815,
  100865,
  101463,
  102364,
  102902,
  103507,
  103912,
  104165,
  104452,
  105161,
  106235,
  106820,
  93678,
  93880,
  94624,
  94855,
  96588,
  96604,
  96608,
  96884,
  97794,
  98201,
  98949,
  99582,
  100111,
  100249,
  313080,
  313614,
  314385,
  314474,
  315468,
  315480,
  315620,
  315629,
  315873,
  317019,
  317060,
  317305,
  318211,
  318343,
  100808,
  100905,
  101476,
  101630,
  102864,
  102979,
  103322,
  103620,
  104561,
  104591,
  104919,
  105864,
  106635,
  107232,
  93614,
  93630,
  93642,
  94731,
  94785,
  95054,
  96096,
  96137,
  96250,
  96658,
  96794,
  98680,
  98969,
  98998,
  99308,
  99823,
  99870,
  93958,
  313997,
  315531,
  315749,
  318060,
  318129,
  319132,
  319219,
  319704,
  320289,
  100506,
  101329,
  101380,
  101535,
  102306,
  102974,
  103057,
  103332,
  103721,
  104721,
  104931,
  105118,
  105580,
  106122,
  106164,
  94667,
  94935,
  95814,
  95819,
  96311,
  96510,
  97735,
  98559,
  98730,
  99051,
  99190,
  99515,
  99660,
  312215,
  312447,
  313288,
  313607,
  314611,
  314783,
  315025,
  315408,
  316606,
  316993,
  317190,
  317816,
  317869,
  318075,
  318639,
  319406,
  319548,
  320175,
  320523,
  320656,
  320703,
  100726,
  102720,
  102764,
  103437,
  104258,
  104439,
  105179,
  106183,
  106821,
  106860,
  94113,
  94468,
  94968,
  95504,
  95590,
  95828,
  96323,
  96675,
  96774,
  96780,
  96793,
  97407,
  97633,
  97729,
  98008,
  98631,
  98644,
  99085,
  99292,
  99326,
  99810,
  100133,
  312812,
  314032,
  314646,
  314816,
  314886,
  315027,
  315597,
  316050,
  316853,
  317710,
  317841,
  318029,
  318115,
  318040,
  100461,
  100486,
  100620,
  100803,
  101423,
  101858,
  101907,
  103001,
  ...]}

In [38]:
def attach_totals_to_lenders():
    # {'country_code' := NaN} è considerato uno stato
    sum_by_country = data['loans.csv'].groupby('country_code', as_index=False).sum()[['country_code', 'funded_amount']]
    to_cross = data['lenders.csv']
    return pd.merge(to_cross, sum_by_country, left_on='country_code', right_on='country_code')

#  13 For each value of repayment_interval, add a new column to the lenders dataframe that contains the total amount of money corresponding to loans in such state

out_13 = attach_totals_to_lenders()
display(out_13)

         permanent_name display_name  ... num_invited funded_amount
0             reena6733        Reena  ...           0    36365340.0
1               mai5982          Mai  ...           0    36365340.0
2        andrew86079135       Andrew  ...           0    36365340.0
3            nguyen6962       Nguyen  ...           0    36365340.0
4          sirinapa6764     Sirinapa  ...           0    36365340.0
...                 ...          ...  ...         ...           ...
1843987   peter98914650        peter  ...           0     2415650.0
1843988     patrick3790      Patrick  ...           0     2415650.0
1843989      martha8370       Martha  ...           0     2415650.0
1843990       scott7286        Scott  ...           1     2415650.0
1843991    caroline2755     Caroline  ...           0     2415650.0

[1843992 rows x 12 columns]

In [39]:
def high_avg_occupation():
    names_jobs = data['lenders.csv'][['permanent_name', 'occupation']]
    names_jobs = names_jobs[names_jobs['occupation'].notnull()]
    
    first_merge = pd.merge(out_1, names_jobs, left_on='NOME', right_on='permanent_name')[['ID', 'NOME', 'occupation']]
    secon_merge = pd.merge(first_merge, data['loans.csv'], left_on='ID', right_on='loan_id')[['NOME', 'occupation', 'funded_amount']]

    group = secon_merge.groupby('NOME').sum()
    
    third_merge = pd.merge(first_merge, group, left_on='NOME', right_on='NOME')[['NOME', 'occupation', 'funded_amount']]
    return third_merge.groupby('occupation').mean().idxmax()['funded_amount']

#  14  What is the occupation with the highest average amount of money lent (the average must be computed over all lenders with a given occupation)?
out_14 = high_avg_occupation()
display(out_14)

'Faith | Care | Evangelism'

In [40]:
def cluster_loans():
    use_db = data['loans.csv'][['disburse_time', 'funded_amount']]
    use_db['disburse_time'] = pd.to_datetime(use_db['disburse_time'])

    _to_year = lambda x: x.year
    _to_month = lambda x: x.month

    use_db['yearly'] = use_db['disburse_time'].apply(_to_year)
    use_db['monthly'] = use_db['disburse_time'].apply(_to_month)

    group = use_db.groupby(['yearly', 'monthly']).sum()['funded_amount']
    return group

#  15 Cluster the loans according to the year-month of disburse time.
out_15 = cluster_loans()
display(out_15)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

yearly  monthly
2005.0  4.0          102850.0
2006.0  3.0            1000.0
        5.0           42325.0
        6.0           33325.0
        7.0           41825.0
                      ...
2017.0  11.0       12223400.0
        12.0        4257775.0
2018.0  1.0          415250.0
        2.0          327250.0
        3.0           29050.0
Name: funded_amount, Length: 145, dtype: float64

In [41]:
def gni_prod():
    use_db = data['country_stats.csv']
    use = use_db.groupby('country_name').sum()[['population', 'gni']] # trucco per usare 'country_name' come index del DataFrame
    use['gni_prod'] = use['population'] * use['gni']
    return use['gni_prod']

#  16 For each country, compute its overall GNI, by multiplying the per capita GNI with its population
out_16 = gni_prod()
display(out_16)

country_name
Afghanistan    6.647064e+10
Albania        3.004165e+10
Algeria        5.591568e+11
Angola         1.873693e+11
Argentina      9.272623e+11
                   ...
Venezuela      4.837695e+11
VietNam        5.096650e+11
Yemen          6.498366e+10
Zambia         5.920916e+10
Zimbabwe       2.624491e+10
Name: gni_prod, Length: 174, dtype: float64